// Colors
$function-button: #eee; // #5FB9FF;
$display-bg: #333;

body {
    margin:0;
    padding:0;
    font-family: Verdana, sans-serif;
}

.container {
    width: 300px;
    margin: 20px auto;
    border: 1px solid black;
}

.row {
    padding: 2px;
    perspective: 400px;
}

.key {
    width: 71px;
    height: 71px;
    border: 0;
    font-size: 24px;
    background-color: lightgray;
    margin-right: -2px;
}

.key:active {
    transform: translateZ(-5px);
}

.key:focus {
    outline: 0;
}

.func {
    background-color: $function-button;
    border: 1px solid darkgray;
}

#display {
    font-family: monospace;
    width: 100%;
    font-size: 48px;
    background: none;
    border: 0;
    text-align: right;
    padding: 0;
    background-color: $display-bg;
    color: #fff;
}
